# Go binary files
/bin/
/build/
/out/

# Go module cache
/go/pkg/mod/

# Go build output
*.a
*.out
*.test

# Dependency directories
vendor/

# IDE and editor files
*.idea/
*.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
