# Go binary files
/bin/
/build/
/out/

# Go module cache
/go/pkg/mod/

# Go build output
*.a
*.out
*.test

# Dependency directories
/vendor/

# IDE and editor files
.idea/
/.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Ignore Go binary files in the my-go-project directory
/Week-4/crudOperation/bin/
/Week-4/crudOperation/build/
/Week-4/crudOperation/out/

# Ignore Go module cache
/Week-4/crudOperation/go/pkg/mod/

# Ignore Go build output
/Week-4/crudOperation/*.a
/Week-4/crudOperation/*.out
/Week-4/crudOperation/*.test

# Ignore vendor directory
/Week-4/crudOperation/vendor/

# Ignore IDE and editor files
*.idea/
*.vscode/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment files
/Week-4/crudOperation/.env

# React build files
/node_modules/
/build/
/public/static/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build files
/build

# Coverage directory used by testing tools
/coverage/

# Dependency directories
/node_modules/

# Miscellaneous
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore next.js build output
.next/

# Ignore parcel build output
.cache/
.parcel-cache/
dist/
